:root {
  --main-blue: #7dd3fc;
  --bg-white: #fafafa;
  --bg-grayish: #e4e4e7;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: max-content 1fr
}

.dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    display: grid;
    gap: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;

    background: var(--main-blue);
}

.header {
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: 3fr 2fr;

    background: var(--bg-white);
    padding: 1rem;
    gap: 1rem;
}

button {
    border: none;
    background: var(--main-blue);
    padding: 6px 20px;
    border-radius: 511px;
    color: white;
    font-weight: bolder;
    margin-left: 1%;
}


.board {
    padding: 1rem;

    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: max-content 1fr max-content 1fr;
    gap: 1rem;

    background: var(--bg-grayish);
}

.projectboard {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(200px, 300px));

}

.projectitem {

    background: var(--bg-white);

}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    background: var(--bg-white);
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 0.85rem;
}

.trends {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    background: var(--bg-white);
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 0.85rem;
}

