:root {
  --main-blue: #7dd3fc;
  --bg-white: #fafafa;
  --bg-grayish: #e4e4e7;
  --item-orange: #f59e0b;
  --item-shadow: #a3a3a3;
  --item-gray-text: #737373;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: max-content 1fr
}

.dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    display: grid;
    gap: 2rem;
    padding-left: 2.5rem;
    padding-top: 1rem;

    background: var(--main-blue);
    z-index: 1;
}

.dashboardlogo {
    filter: invert(10);
}

.dashboard h1 {
    color: white;
}

li {
    list-style: none;
    margin-bottom: 1rem;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.linkimg {
    width: 1.25rem;
    height: 1.25rem;
    filter: invert(10);
    vertical-align: -3px;
    padding-right: 2%;
    
}

.header {
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: 3fr 2fr;

    background: var(--bg-white);
    padding: 1rem;
    gap: 1rem;
    filter: drop-shadow(0px 0px 2px black);
}

.searchbaricon {
    width: 1rem;
    height: 1rem;
    vertical-align: -3px;
}

.searchinput {
    background: var(--bg-grayish);
    border: none;
    padding: 4px 25%;
    border-radius: 100px;
}

.greeting {
    font-weight: bolder;
    font-size: larger;
}

button {
    border: none;
    background: var(--main-blue);
    padding: 6px 20px;
    border-radius: 511px;
    color: white;
    font-weight: bolder;
    margin-left: 1%;
}


.board {
    padding: 1rem;

    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: max-content 1fr max-content max-content 1fr;
    gap: 1rem;

    background: var(--bg-grayish);
}

.projectboard {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(120px, 175px));
    gap: 5vh;

}

.projectitem {

    background: var(--bg-white);

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--item-shadow);

    position: relative;
}

.projectitem::before {
    content: '';
    width: 3%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    background: var(--item-orange);
    left: -1%;

    position: absolute;
}

.itemtitle {
    font-weight: bold;
    margin-left: 5%;
}

.itemtext {
    color: var(--item-gray-text);
    margin-left: 5%;
}

.projecticons {
    justify-self: end;
    align-self: end;
}

.itemicon {
    height: 1.5rem;
    width: 1.5rem;
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    background: var(--bg-white);
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 0.85rem;
    box-shadow: 1px 1px 5px var(--item-shadow);
}

.trends {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    background: var(--bg-white);
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 0.85rem;
    box-shadow: 1px 1px 5px var(--item-shadow);
}

.announcementtitle,
.trendtitle,
.projecttitle {
    font-weight: bolder;
    font-size: larger;
}

.newstitle {
    font-weight: bolder;
}